* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body { 
  overflow-x: hidden;
  overflow-y: hidden;
}
html { 
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  width: 11in;
  height: 8.5in;
  margin: 0 auto;
  background-color: gray;
}
b, a {
  font-weight: 400;
  color: inherit;
}
body {
  width: 100%;
  height: 100%; 
  background-color: white;
}
body > div {
  width: 100%;
  height: 100%;
}
